{% extends 'base.html' %}
{% load  widget_tweaks %}
{% block content %}
<div class="content">
    <div class="page-inner row">
        <div class="col-sm-3"></div>
        <div class="card col-sm-6">
            <h2>Changement de mot de passe</h2>
            <form method="post" class="changing-pass-form">
                
                {% csrf_token %}
                <label for="id_old_password" class="mb-2">Ancien mot de passe</label>
                {% render_field form.old_password class="form-control rounded" %}
                <span class="text-danger mb-2">{{ form.old_password.errors }}</span>
                {% comment %}
                <ul>
                    <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                    <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                    <li>Votre mot de passe doit contenir au moins une lettre.</li>
                    <li>Votre mot de passe doit contenir un chifre</li>
                </ul>
                {% endcomment %}

                <label for="id_new_password1" class="mb-2">Nouveau mot de passe</label>
                {% render_field form.new_password1 class="form-control rounded" %}
                <span class="text-danger mb-2">{{ form.new_password1.errors }}</span>

                <label for="id_new_password2" class="mb-2">Confirmation du nouveau mot de passe</label>
                {% render_field form.new_password2 class="form-control rounded" %}
                <span class="text-danger mb-2">{{ form.new_password2.errors }}</span>

                <input type="submit" class="btn btn-dark mt-2" value="Valider">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" class="btn btn-warning mt-2" value="Annuler">
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock content %}